
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
tests/kakao_resume2.spec.ts
tests/yeogi_appium.ts
tests/kakao_login.spec.ts
tests/kakao_category.spec.ts
*.db
*.key
auth.json
